extends ../layout

block content
  //- event, event.author, answers
  if !event.author.password
    #leaveUser-notification 탈퇴한 회원의 이벤트입니다.
  .container#event-container
    h1.main-title= event.title
    #apply-count
      if applyNum == event.maxNum
        |인원이 다 찼습니다.
        script.
          $('#apply-count').css('color', 'red');
      else
        = applyNum + "명"
        |/
        = event.maxNum + "명"
    .event.show
      include _event-detailform

      .buttons#button-container
        if currentUser && event.author.id == currentUser.id
          | 
          a.btn.btn-outline-secondary#update-button(href=`/events/${event.id}/edit`) 수정
          | 
          a.btn.btn-outline-danger.need-confirm-btn#delete-button(href=`/events/${event.id}?_method=delete`) 제거
        else
          script.
            var event_ = !{JSON.stringify(event)};
          a.btn.btn-primary#like-button(href="javascript:void(0)") #[i.fa.fa-thumbs-up]
          if isLiker
            script.
              $("#like-button").addClass('disabled_');
              $("#like-button").css('width', '150px');
              $(".fa-thumbs-up").text(" 좋아요 완료");
          if !currentUser
            script.
              $("#like-button").addClass('disabled_'); 
    if event.numAnswers > 0
      hr
      h3 #{event.numAnswers} Answer(s)
      .answers.show
        each answer in answers
          include _answer

    form(action=`/events/${event.id}/answers`, method='POST')
      .form-group
        label(for='answer') Your Answer
        textarea.form-control(name="content", rows="5")
      button.btn.btn-primary(type="submit") Post Your Answer

